<div class="navbar">
  <ul class="menu">
      Campus
  </ul>
  <ul class="menu right user-icon"><img src="../build/assets/user-icon.svg" alt="" id="user-profile-photo">Abhishek
  </ul>
  <ul class="menu right">SERVICES</ul>
  <ul class="menu right">ABOUT US</ul>
</div>
<div class="container">
  <p id="user-name">ABHISHEK GUND</p>
  <div class="info-edit">
      <p class="user-phone-email">9373170518 . abhishekgund500@gmail.com</p>
      <button id="update-profile">Update Profile</button>
  </div>
  <div class="input-container">
      <div class="options-container">
          <p class="personal-info">Personal Information</p>
          <p class="personal-info">Password</p>
          <p class="personal-info">Password</p>
          <p class="personal-info">Notifications</p>
          <p class="personal-info">Preferences</p>
      </div>
      <div class="action-container">
          Name: <input type="text" id="name">
          Gender: <input type="text" id="gender" placeholder="Male">
          <span class="mobile">
              Mobile: <br>
              <input type="text" name="" id="mobile">
              <button>verify</button>
              <input type="text" name="" id="otp" placeholder="OTP_ _ _ _">
          </span>
          <span class="branch">
              Branch: <br><input type="text" name="" id="branch" placeholder="branch">
              Year: <input type="text">
          </span>
          Birthday: <input type="date" name="" id="birthdate">
          College: <input type="text" name="" id="college">
      </div>
  </div>
</div>