<div class="navbar">
  <ul class="menu">
    Campus
  </ul>
  <ul class="menu right user-icon"><img src="assets/icons/user-icon.svg" alt="" id="user-profile-photo">Abhishek
  </ul>
  <ul class="menu right">SERVICES</ul>
  <ul class="menu right">ABOUT US</ul>
</div>
<img src="assets/icons/hero-image.jpg" alt="" id="hero">
<div class="food-items-container">
  <div class="food-items">
    <p class="food-type">Lunch</p>
    <p class="food-type">BreakFast</p>
    <p class="food-type">Veg Thali</p>
    <p class="food-type">Non-Veg Thali</p>
    <p class="food-type">Biryani</p>
    <p class="food-type">Nashta</p>
    <p class="food-type">Snacks</p>
  </div>
  <div class="food-search">
    <input type="text" name="search" id="search" placeholder="Malai Paneer">
    <img src="assets/icons/search.svg" alt="" id="search-icon">
  </div>
</div>

<!-- today-special-heading -->


<!-- todays special menu cards -->
<div class="today-special-container">
  <div class="today-special-card">

  </div>
</div>

<!-- heading -->
<div class="heading">
  <p>Todays Special</p>
  <p>All</p>
</div>

<!-- services container -->
<div class="data-container">

  <!-- listing -->
  <div class="todays-special-listing-container">

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>
  </div>
</div>

<!-- heading -->
<div class="heading">
  <p>Most Popular Hub's</p>
  <p>All</p>
</div>

<!-- services container -->
<div class="data-container">

  <!-- listing -->
  <div class="todays-special-listing-container">

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>
  </div>
</div>
<!-- Footer -->
<div class="footer">
  <ul>
    <li><a href="https://twitter.com/julesforrest">Twitter</a></li>
    <li><a href="https://codepen.io/julesforrest">Codepen</a></li>
    <li><a href="mailto:julesforrest@gmail.com">Email</a></li>
    <li><a href="https://dribbble.com/julesforrest">Dribbble</a></li>
    <li><a href="https://github.com/julesforrest">Github</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</div>