<div class="navbar">
  <ul class="menu">
    Campus
  </ul>
  <ul class="menu right user-icon" (click)="goToLoginPage()"><img hidden src="assets/icons/user-icon.svg" alt="" id="user-profile-photo">LogIn / SignUp
  </ul>
  <ul class="menu right">SERVICES</ul>
  <ul class="menu right">ABOUT US</ul>
</div>
<img src="assets/icons/campus.svg" alt="" id="hero">

<!-- services container -->

<div class="data-container">
  <!-- heading -->
  <div id="services-heading-2">
    Discover Campus With Campus Services
  </div>
  <!-- service cards -->
  <div class="services-container">
    <img src="assets/icons/left-arrow.svg" id="left-arrow" alt="">
    <div class="service-card">
      <img src="assets/icons/home.svg" alt="" class="service-image">
      <p class="service-name">Househub</p>
    </div>
    <div class="service-card">
      <img src="assets/icons/thali.svg" alt="" class="service-image">
      <p class="service-name">FoodHub</p>
    </div>
    <div class="service-card">
      <img src="assets/icons/buy-sell.svg" alt="" class="service-image">
      <p class="service-name">Buy And Sell</p>
    </div>
    <img src="assets/icons/right-arrow.svg" id="right-arrow" alt="">
  </div>

  <!-- heading -->
  <div id="services-heading-2">
    <p class="left-text">
      Stay on Campus
    </p>
    <p class="right-text">
      Discover
    </p>
  </div>

  <!-- Househub cards -->
  <div class="services-container">
    <div class="househub-card">
      <img src="assets/icons/flat-1.svg" alt="" class="househub-icon">
      <div class="house-info">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <div class="price-and-furnished">
          <p class="price">12K/month</p>
          <p class="furnished">Furnished</p>
        </div>
        <p class="boys-girls-tag">2BHK Available for boys</p>
        <p class="description">0.2km away fron Smt.kashibai navale college of engineering Pune</p>
        <p class="owner-name">Owner: Mr. John Doe</p>
      </div>
    </div>

    <div class="househub-card">
      <img src="assets/icons/flat2.svg" alt="" class="househub-icon">
      <div class="house-info">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <div class="price-and-furnished">
          <p class="price">12K/month</p>
          <p class="furnished">Furnished</p>
        </div>
        <p class="boys-girls-tag">2BHK Available for boys</p>
        <p class="description">0.2km away fron Smt.kashibai navale college of engineering Pune</p>
        <p class="owner-name">Owner: Mr. John Doe</p>
      </div>
    </div>

    <div class="househub-card">
      <img src="assets/icons/flat-1.svg" alt="" class="househub-icon">
      <div class="house-info">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <div class="price-and-furnished">
          <p class="price">12K/month</p>
          <p class="furnished">Furnished</p>
        </div>
        <p class="boys-girls-tag">2BHK Available for boys</p>
        <p class="description">0.2km away fron Smt.kashibai navale college of engineering Pune</p>
        <p class="owner-name">Owner: Mr. John Doe</p>
      </div>
    </div>

    <div class="househub-card">
      <img src="assets/icons/flat2.svg" alt="" class="househub-icon">
      <div class="house-info">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <div class="price-and-furnished">
          <p class="price">12K/month</p>
          <p class="furnished">Furnished</p>
        </div>
        <p class="boys-girls-tag">2BHK Available for boys</p>
        <p class="description">0.2km away fron Smt.kashibai navale college of engineering Pune</p>
        <p class="owner-name">Owner: Mr. John Doe</p>
      </div>
    </div>
  </div>

  <!-- foodhub heading -->
  <div id="services-heading-2">
    <p class="left-text">
      Are you Hungry?
    </p>
    <p class="right-text">
      Discover
    </p>
  </div>

  <!-- Foodhub recoommended listings from backend goes here -->
  <div class="services-container">
    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/dal-bati-thali.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/thali2.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/thali3.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/thali2.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/thali2.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <p class="stars">⭐⭐⭐⭐⭐</p>
      <div class="food-aligner">
        <img src="assets/icons/thali2.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>
  </div>

  <!-- Buy and Sell Heading -->
  <div id="services-heading-2">
    <p class="left-text">
      Want to Buy or Sell Something?
    </p>
    <p class="right-text">
      Discover
    </p>
  </div>

  <!-- Buy and Sell Item Cards -->
  <div class="services-container">
    <div class="food-card">
      <div class="food-aligner">
        <img src="assets/icons/laptop.svg" alt="" id="food">
      </div>
      <div class="user-info">
        <img src="assets/icons/user-icon2.svg" alt="" id="profile-icon">
        <p id="user-name">John Smith</p>
        <span id="user-stars">⭐⭐⭐⭐⭐</span>
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Lenovo Thinkpad at 12k
          <span id="limited-or-unlimited">
            1 year old
          </span>
        </p>
      </div>
      <p id="thali-description">
        with laptop charger, Antivirus, mouse, keyboard etc.
      </p>
      <p class="serve-by">
        2 Peoples interested
      </p>
    </div>

    <div class="food-card">
      <!-- <p class="stars">⭐⭐⭐⭐⭐</p> -->
      <div class="food-aligner">
        <img src="assets/icons/bed.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <div class="food-aligner">
        <img src="assets/icons/laptop.svg" alt="" id="food">
      </div>
      <div class="user-info">
        <img src="assets/icons/user-icon2.svg" alt="" id="profile-icon">
        <p id="user-name">John Smith</p>
        <span id="user-stars">⭐⭐⭐⭐⭐</span>
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Lenovo Thinkpad at 12k
          <span id="limited-or-unlimited">
            1 year old
          </span>
        </p>
      </div>
      <p id="thali-description">
        with laptop charger, Antivirus, mouse, keyboard etc.
      </p>
      <p class="serve-by">
        2 Peoples interested
      </p>
    </div>

    <div class="food-card">
      <!-- <p class="stars">⭐⭐⭐⭐⭐</p> -->
      <div class="food-aligner">
        <img src="assets/icons/book.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <!-- <p class="stars">⭐⭐⭐⭐⭐</p> -->
      <div class="food-aligner">
        <img src="assets/icons/laptop.svg" alt="" id="food">
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Special Dal Bati at 80Rs
          <span id="limited-or-unlimited">
            Unlimited
          </span>
        </p>
      </div>
      <p id="thali-description">
        In thali: Dal, Bati, 1 Laddu, Onion, TOmato, Cucumber etc.
      </p>
      <p class="serve-by">
        Serve by <span id="mess-name">Shivshree Mess</span> near sinhgad law college <br>
        hurry Up closing soon
      </p>
    </div>

    <div class="food-card">
      <div class="food-aligner">
        <img src="assets/icons/laptop.svg" alt="" id="food">
      </div>
      <div class="user-info">
        <img src="assets/icons/user-icon2.svg" alt="" id="profile-icon">
        <p id="user-name">John Smith</p>
        <span id="user-stars">⭐⭐⭐⭐⭐</span>
      </div>
      <div class="thali-haeding">
        <p id="heading-text">
          Lenovo Thinkpad at 12k
          <span id="limited-or-unlimited">
            1 year old
          </span>
        </p>
      </div>
      <p id="thali-description">
        with laptop charger, Antivirus, mouse, keyboard etc.
      </p>
      <p class="serve-by">
        2 Peoples interested
      </p>
    </div>
  </div>


  <!-- campus events -->
  <div id="services-heading-2">
    Discover Campus Events and stay tuned
  </div>

  <!-- campus event cards -->
  <div class="services-container">
    <div class="househub-card">
      <img src="assets/icons/flat-1.svg" alt="" class="househub-icon">
      <div class="house-info event-card">
        <p class="stars">⭐⭐⭐⭐⭐</p>
        <div class="price-and-furnished">
          <p class="price">SINHGAD CARNIVAL 2K23</p>
        </div>
        <p class="boys-girls-tag">lets celebrate carnival with...</p>
        <p class="description">Shceduled On 3rd March</p>
        <p class="owner-name">Venue: Singad College Of Engineering Parking Area</p>
      </div>
    </div>

  </div>

</div>